html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

:root {
  display: flex;
  height: 100vh;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #626F47;
  color: var(--text-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #A4B465;
  --secondary-color: #2E3D20;
  --text-color: #ebf7d4;
  --shadow-1: 10px 10px 2px rgb(0 0 0 / 20%), -10px 10px 2px rgb(0 0 0 / 20%);
  --shadow-2: 10px 0 5px rgb(0 0 0 / 25%);
  --shadow-3: 0 8px 24px rgba(0,0,0,.25), 0 2px 8px rgba(0,0,0,.18);
  --shadow-4: 0 16px 40px rgba(0,0,0,.30), 0 6px 16px rgba(0,0,0,.22);
}

section, main {
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
  scrollbar-width: none;
}

a{
  color: var(--text-color);
}